.submitOrder{
    background-color: orange;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.itemOrderQty{
    margin-right: 5px;
}

.itemOrderMsg{
    color: green;
    max-width: 50%;
    word-break: break-all;
    white-space: pre-wrap;
    margin-left: auto;
}


li{
    list-style-type: none;
}