/* ----------------------------------------- */
.fccc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frcc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.frcb{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.frca{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* ----------------------------------------- */
p{
    margin-bottom: 0;
}
.red{
    background-color: red;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

label{
    font-weight: bold;
}


/* -----------KITCHENWALL TICKET-------------- */
.ticket1{
    background-color: rgba(220, 246, 241,0.6);
    width: 100%;
    border-radius: 10px;
    padding: 0 20px;
    margin: 5px;


    .ticketHeader{
        display: flex;
        align-items: center;
        justify-content: space-around;

        border-bottom: 1px solid rgb(189, 187, 187);
        margin-bottom: 10px;

        .fa-exclamation-circle{
            font-size: 25px;
        }

        .imgTable{
            height: 40px;
        }
        .fa-users{
            font-size: 20px;
        }
        .fa-bicycle{
            font-size: 25px;
            margin-left: 15px;
        }

    }
    .ticketBody{
    
        .ticketMessage{
            color: green;
            max-width: 95%;
            line-height: 13px;
            text-align: end;
            word-break: break-word;
            white-space: pre-wrap;
            margin-left: auto;
            margin-bottom: 3px;
        }
    }

    .ticketFooter{
        padding: 5px 0;

        margin-top: 10px;
        border-top: 1px solid rgb(189, 187, 187);

        .ticketTimeDay{
            display: flex;
            align-items: center;
            justify-content: space-between;

            margin-bottom: 3px;
            .ticketTime{
                display: flex;
                align-items: center;
            }
        }
    }
}


/* ----------------------TABLE------------------------- */
.tablesBtnDiv{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .tableBtn {
    appearance: none;
    background-color: #08b6b3;
    height: 70px;
    width: 50px;
    border-radius: 50%;
    border-style: none;
    box-shadow: #3d7f84 0 -5px 6px inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 5px;
    outline: none;
    // padding: 1rem 1.3rem;
    // quotes: auto;
    // text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }

    .tableBtn:hover {
    background-color: #21ae19;
    box-shadow: #28c50c 0 -6px 8px inset;
    transform: scale(1.3);
    }

    .tableBtn:active {
    transform: scale(1.025);
    }

    @media (min-width: 768px) {
    .tableBtn {
        font-size: 1.5rem;
        padding: .75rem 2rem;
    }
    }
}


.tableTicketDiv{
    width: 50vw;
    margin-top: 20px;
}
.tableMenuOrder{
    width: 90vw;
}


/* ----------------- BILL VIEW --------------- */
.billMainView{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.splitRow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(160, 67, 17);
}
.splitLeft{
    width: 48%;
    height: 50vw;
    background-color: rgb(17, 160, 115);
}
.splitRight{
    width: 48%;
    height: 50vw;
    background-color: rgb(222, 223, 231);
}
.staticBillDiv{
    width: 60%;
}
.billTicketDiv{
    width: 95%;
}
/* -------------PAID BILLS------------ */
.paidBills{
    width: 50%;
}

/* ---------  BILL TICKET COMPONENT --------- */
.billTotal{
    width: 100%;
    background-color: #b5e7d6;
    padding: 15px 30px;
    margin: 10px;
}

.billHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid grey;
}

.billBody{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .billItems{
        display: flex;

        .billQuantity{
            margin-right: 10px;
        }
    }
}

.billFooter{
    border-top: 1px solid grey;
    margin-top: 10px;

    .waiterTotal{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0 15px;
    }

    .xperson{
        text-align: right;
    }
}


.arrowBtnsBill{
    display: flex;
    align-items: center;
}


/* ----------------------MENU MAIN PAGE------------------------- */

.menuMainPage{
    height: 700px;
    background-image: url("https://res.cloudinary.com/dly7e46yt/image/upload/v1651496257/ironhack/ticketezy/risto_room_iddiuy.png");
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menuMainPageInner{
    background-color: rgba(240, 248, 246, 0.7);
    border-radius: 10px;
    padding: 15px ;
    width: 80%;
}

/* ----------------------MENU LIST COMPONENT------------------------- */
.menuListMain{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menuListTop{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    .fa-glass-cheers,
    .fa-utensils,
    .fa-plus-circle{
        font-size: 30px;
    }
}
.topRight3{
    position: absolute;
    cursor: pointer;
    right: 130px;
}
.menuListRow{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.menuListCol{
    width: 45%;
    overflow-y: scroll;
    height: 450px;
    padding: 5px;
    background-color: rgba(240, 248, 246, 0.9);

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* ----------------------MENU DETAILS COMPONENT------------------------- */
.menuDetailsMainDiv{
    height: 700px;
    background-image: url("https://res.cloudinary.com/dly7e46yt/image/upload/v1651506352/ironhack/ticketezy/risto_room2_zdloik.png");
    background-size: cover;
    background-position: 0%;

    display: flex;
    align-items: center;
    justify-content: center;


    p{
        font-size: 20px;
        white-space: pre-wrap;
    }
}

.menuDetailsInnerDiv{
    background-color: rgba(240, 248, 246, 0.95);
    width: 85%;
    min-height: 500px;
    padding: 20px;
    border-radius: 10px;
}

.topRight{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: -10px;
}
.menuDetailsInfoDiv{
    width: 60%;
    padding: 0 20px 0 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.menuDetailsEditBtns{
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.menuDetailsImgDiv{
    width: 40%;
    height: 400px;
}
.menuDetailsImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
/* ----------------------MENU FORM------------------------- */

.menuForm{
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-top: -20px;
    .has-error {
        margin-bottom: 20px;
    }    
 
    .radio-form-group {
        position: relative;
        
        .absolute-error {
            position: absolute;
            left: 24px;
        }
    }

    .inputName{
        width: 55% ;
    }

    .allergensFields{
        column-count: 4;
        width: 100%;
    }
    .allergensBoxLabel{
        display: flex;
        align-items: center;
    }


}
.topRight2{
    margin-left: auto;
    cursor: pointer;
}


/* ----------------------MENU PRODUCT CARD COMPONENT------------------------- */
.menuCardComponent{
    height: 80px;
    width: 98%;
    margin: 10px 5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.menuCardMain{
    height: 90%;
    width: 95%;
    padding: 5px;
    border: 2px solid rgb(248, 171, 29);
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuCardInner{
    height: 98%;
    width: 95%;

    display: flex;
    align-items: center;
}
.menuCardImgDiv{
    background-color: red;
    height: 100%;
    width: 30%;
}

.menuCardImg{
    height: 100%;
    width: 100%;
}

.menuCardName{
    width: 50%;
    margin-left: 10px;
}
.menuCardPrice{
    width: 15%;
}



