/* ----------------------------------------- */
.fccc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frcc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.frcb{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.frca{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* ----------------------------------------- */
p{
    margin-bottom: 0;
}
.red{
    background-color: red;
}



/* ----------------------COMANDA------------------------- */
.ticket1{
    background-color: rgba(220, 246, 241,0.6);
    width: 100%;
    border-radius: 10px;
    padding: 0 20px;
    margin: 5px;


    .ticketHeader{
        display: flex;
        align-items: center;
        justify-content: space-around;

        border-bottom: 1px solid rgb(189, 187, 187);
        margin-bottom: 10px;

        .fa-exclamation-circle{
            font-size: 25px;
        }

        .imgTable{
            height: 40px;
        }
        .fa-users{
            font-size: 20px;
        }
        .fa-bicycle{
            font-size: 25px;
            margin-left: 15px;
        }

    }
    .ticketBody{
    
        .ticketMessage{
            color: green;
            max-width: 80%;
            text-align: end;
            word-break: break-word;
            white-space: pre-wrap;
            margin-left: auto;
        }
    }

    .ticketFooter{
        padding: 5px 0;

        margin-top: 10px;
        border-top: 1px solid rgb(189, 187, 187);

        .ticketTimeDay{
            display: flex;
            align-items: center;
            justify-content: space-between;

            margin-bottom: 3px;
            .ticketTime{
                display: flex;
                align-items: center;
            }
        }
    }
}


/* ----------------------TABLE------------------------- */
.tablesBtnDiv{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .tableBtn{
        display: flex;
        align-items: center;
        justify-content: center;
    
        height: 50px;
        width: 50px;
        border-radius: 50%;
    
        background-color: #34B187;
        margin: 5px;
    
        
        color: white;
        font-size: 35px;
        
    }
}


.tableTicketDiv{
    width: 50vw;
    margin-top: 20px;
}
.tableMenuOrder{
    width: 90vw;
}



/* ----------------------MENU FORM------------------------- */
.menuForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;

    background-color: #34B187;
    width: 40vw;


    .descriptionField{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .priceField{
        width: 80px;
        display: flex;
        flex-direction: column;
    }
    .allergensFields{
        width: 100%;
        margin:5px;
        border: 1px solid black;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

