/* ----------------------------------------- */
.fccc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frcc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.frcb{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


/* -------------------ITEM---------------------- */
.dishMainDiv{
    display: flex;
    margin: 2px;
    background-color: aqua;
    border: 1px solid black;
}

.itemName{
    width: 50%;
}
.itemPrice{
    width: 5%;
}
.itemQty{
    width: 5%;
}


.fa_Plus{
    width: 30px;
    height: 30px;
    background-color: lightgreen;
    border-radius: 50%;
    right: 80px;
}

.fa_Minus{
    width: 30px;
    height: 30px;
    background-color: lightcoral;
    border-radius: 50%;
}
/* ----------------------------------------- */
