/* ----------------- BILL VIEW --------------- */
.billMainView{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.splitRow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(160, 67, 17);
}
.splitLeft{
    width: 48%;
    height: 50vw;
    background-color: rgb(17, 160, 115);
}
.splitRight{
    width: 48%;
    height: 50vw;
    background-color: rgb(222, 223, 231);
}
.staticBillDiv{
    width: 60%;
}
.billTicketDiv{
    width: 95%;
}
/* -------------PAID BILLS------------ */
.paidBills{
    width: 50%;
}

/* ---------  BILL TICKET COMPONENT --------- */
.billTotal{
    width: 100%;
    background-color: #b5e7d6;
    padding: 15px 30px;
    margin: 10px;
}

.billHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid grey;
}

.billBody{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .billItems{
        display: flex;

        .billQuantity{
            margin-right: 10px;
        }
    }
}

.billFooter{
    border-top: 1px solid grey;
    margin-top: 10px;

    .waiterTotal{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0 15px;
    }

    .xperson{
        text-align: right;
    }
}


.arrowBtnsBill{
    display: flex;
    align-items: center;
}
