/* ----------------------  MENU MAIN PAGE------------------------- */
.menuMainPage{
    height: 700px;
    // background-image: url("https://res.cloudinary.com/dly7e46yt/image/upload/v1651496257/ironhack/ticketezy/risto_room_iddiuy.png");
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menuMainPageInner{
    background-color: rgba(240, 248, 246, 0.7);
    border-radius: 10px;
    padding: 15px ;
    width: 80%;
    margin-top: -40px;

}

/* ----------------------MENU LIST COMPONENT------------------------- */
.menuListMain{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menuListTop{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    .fa-glass-cheers,
    .fa-utensils,
    .fa-plus-circle{
        font-size: 30px;
    }
}
.topRight3{
    position: absolute;
    cursor: pointer;
    right: 130px;
}
.menuListRow{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.menuListCol{
    width: 45%;
    overflow-y: scroll;
    height: 450px;
    padding: 5px;
    background-color: rgba(240, 248, 246, 0.9);

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}



/* ----------------------MENU PRODUCT CARD COMPONENT------------------------- */
.menuCardComponent{
    height: 90px;
    width: 90%;
    margin: 10px auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.menuCardMain{
    height: 95%;
    width: 97%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuCardInner{
    height: 98%;
    width: 95%;
    border: 2px solid #f3d8c9;

    display: flex;
    align-items: center;
}
.menuCardImgDiv{
    background-color: red;
    height: 100%;
    width: 30%;
}

.menuCardImg{
    height: 100%;
    width: 100%;
}

.menuCardName{
    width: 50%;
    margin-left: 10px;
}
.menuCardPrice{
    width: 15%;
}


/* ----------------------MENU DETAILS COMPONENT------------------------- */
.menuDetailsMainDiv{
    height: 700px;
    background-size: cover;
    background-position: 0%;


    display: flex;
    align-items: center;
    justify-content: center;


    p{
        font-size: 20px;
        white-space: pre-wrap;
    }
}

.menuDetailsInnerDiv{
    background-color: rgba(240, 248, 246, 0.95);
    width: 85%;
    min-height: 500px;
    padding: 20px;
    border-radius: 10px;
}

.topRight{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: -10px;
}
.menuDetailsInfoDiv{
    width: 60%;
    padding: 0 20px 0 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.menuDetailsEditBtns{
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.menuDetailsImgDiv{
    width: 40%;
    height: 400px;
}
.menuDetailsImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}



/* ----------------------MENU FORM------------------------- */

.menuForm{
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-top: -20px;
    .has-error {
        margin-bottom: 20px;
    }    
 
    .radio-form-group {
        position: relative;
        
        .absolute-error {
            position: absolute;
            left: 24px;
        }
    }

    .inputName{
        width: 55% ;
    }

    .allergensFields{
        column-count: 4;
        width: 100%;
    }
    .allergensBoxLabel{
        display: flex;
        align-items: center;
    }


}
.topRight2{
    margin-left: auto;
    cursor: pointer;
}
