/* --------------------COLUMNS ------------------ */
.colcolor{
    background-color: rgba(208, 223, 44, 0.758);
    border-radius: 10px;
    margin: 10px;
}


.scroll{
    overflow-y: scroll;
    height: 600px;
} 


/* --------------------TOP PAGE ------------------ */
.fa-pepper-hot{
    color: green;
    font-size: 30px;
    cursor: pointer;
}

/* --------------------TABLE INFO------------------ */
.inputNumbers{
    width: 50px;
    margin-right: 10px;
}

.imgTable{
    height: 60px;
}

.fa-users{
    font-size: 30px;
    cursor: pointer;
}

.fa-exclamation-circle{
    color: green;
    font-size: 30px;
    cursor: pointer;
}

.fa-bicycle{
    color: green;
    font-size: 30px;
    cursor: pointer;
}

