.prueba{
    background-color: aqua;
}
/* ------------------KITCHEN WALL.JS----------------------- */
.titleAndBar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #848789;
    background-image: url("https://wallpaperaccess.com/full/1429026.jpg");
    background-size: cover;
    
}

.holder{
    min-height: 50px;
    padding: 4px;
    width: 100%;

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.ticket{
    user-select: none;
    padding: 10px 5px 0 5px;
    margin: 2px;
    width: 250px;
}

/* -----------------TICKET.JS------------------------ */
i{
    margin: 0 5px 0 5px;
}

.table{
    text-align: center;
}

.quantity_dish{
    display: flex;
    align-items: center;
    height: 20px;
}

.quantity{
    width: 25px;
}



.check-circle{
    padding: 0 0 10px 0;
    margin-left: auto;
    order: 2;
}

.message{
    color: grey;
    font-style: italic;
    line-height: 15px;
    text-align: end;
}